 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

</head>
<body>
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Ohh Hai!<br>What's up?</h2>
        
        <a href="login/github" class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-github" aria-hidden="true"></i>
Sign in with GitHub</a>
      </form>

    </div>
</body>
</html>